.card-wrapper {
    background-color: #fff;
    padding: 1vh 1vw;
    border-radius: 2px;
    box-shadow: 0px 0.3px 0.9px rgb(0 0 0 / 10%), 0px 1.6px 3.6px rgb(0 0 0 / 13%);
    min-width: 52vw;
    min-height: 5vw;
    display: flex;
    justify-content: space-between;

    .filter-card {
        flex-basis: 33.333%;
        background: #D9D9D9;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        align-items: center;
        justify-content: center;
        display: flex;
    }
}

.nested-dropdown-wrapper {
    box-shadow: 0px 0.3px 0.9px rgb(0 0 0 / 10%), 0px 1.6px 3.6px rgb(0 0 0 / 13%);
    padding: 0.5vh 0.5vw;
    font-size: 1vw;
    width: 10vw;
    color: #1C87D9;
    min-width: 16vw;
}