.global-filter-wrapper {
  display: flex;
  align-items: flex-start;

  .global-filter-callout-toggle {
    padding: 0.6vw;
  }

  .global-filter-content {
    background-color: #fff;
    padding: 1vh 1vw;
    border-radius: 2px;
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1),
      0px 1.6px 3.6px rgba(0, 0, 0, 0.13);
  }

  #offstate,
  #onstate {
    color: #1c87d9;
    font-size: 1vw;
  }

  .form-switch {
    padding: 0;
  }

  input#custom-switch {
    margin-left: 0;
    cursor: pointer;
    width: 2.5vw;
  }

  small#ontoggle {
    position: absolute;
    top: -1%;
    color: black;
  }

  small#offstatetoggle {
    position: absolute;
    top: -1%;
    color: rgb(22, 122, 159);
  }

  input#toggle-switch {
    position: absolute;
    left: 17%;
  }

  small#offtoggle {
    position: absolute;
    top: -1%;
    left: 16%;
    color: black;
  }

  small#onstatetoggle {
    position: absolute;
    top: -1%;
    left: 16%;
    color: rgb(22, 122, 159);
  }

  .filters {
    background-color: red;
    height: 39%;
    position: absolute;
    top: 53%;
    left: 2%;
    width: 96%;
  }

  small#region {
    position: absolute;
    bottom: 89%;
    left: 1%;
  }

  small#theme {
    position: absolute;
    bottom: 89%;
    left: 34%;
  }

  small#time {
    position: absolute;
    bottom: 89%;
    left: 62%;
  }

  ::after {
    color: blue;
  }

  button#dropdown-basic {
    color: blue;
  }

.global-filter-content .p-font {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

display: flex;
align-items: flex-end;

color: #1C87D9;
  }
}
