
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.remote-home{
  text-align: center;
  text-transform: uppercase;
  margin: 10% 15px;
  background: #67e7e3;
  padding: 70px;
}
.category{
  margin: 8%;
}
.category img{
  padding: 45px;
    width: 50% !important;
}
.category button {
  float: right;
  margin: 40px;
  font-weight: 600;
}